---
import Layout from '../layouts/Layout.astro';
import { projects, skills, socialLinks } from '../config';

// Import our new reusable animation component
import AnimatedLogo from '../components/AnimatedLogo.astro';
---

<Layout>
<div class="absolute w-full h-auto" style="z-index:-1"> <div class="absolute top-0 left-0 w-1/2 h-auto bg-neutral-100 dark:bg-neutral-800"> <div class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tl from-white dark:from-neutral-950 from-50% via-90% to-100% via-transparent to-transparent"></div> <div class="flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700 border-neutral-300 dark:border-neutral-900"> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> </div> </div> <div class="absolute top-0 right-0 w-1/2 h-auto bg-neutral-100 dark:bg-neutral-800"> <div class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-gradient-to-tr from-white dark:from-neutral-950 from-50% via-90% to-100% via-transparent to-transparent"></div> <div class="flex flex-col w-full h-full border-t border-l divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700 border-neutral-300 dark:border-neutral-900"> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> <div class="relative flex w-full divide-x h-[30px] sm:h-[45px] md:h-[60px] xl:h-[88px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> <div class="w-full h-auto bg-white dark:bg-neutral-950 aspect-square"></div> </div> </div> </div> </div> 
<div class="relative w-full h-20 opacity-0 pointer-events-none"></div> <header id="header" class="absolute top-0 z-50 w-full h-20"> <div class="flex items-center justify-between h-full max-w-5xl pl-6 pr-4 mx-auto border-b border-l-0 border-r-0 border-transparent select-none lg:border-r lg:border-l lg:rounded-b-xl"> <div id="mobileMenuBackground" onclick="closeMobileMenu()" class="fixed inset-0 z-20 hidden w-screen h-screen duration-300 ease-out bg-white/90 dark:bg-neutral-950/90"></div> <nav class="relative z-30 flex flex-row-reverse justify-start w-full text-sm sm:justify-end text-neutral-500 dark:text-neutral-400 sm:flex-row"> <div id="openMenu" class="flex flex-col items-end justify-center w-6 h-6 ml-4 cursor-pointer sm:hidden"> <svg class="w-8 h-8 dark:text-neutral-200" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 8h16M4 16h16"></path></svg> </div> <div id="closeMenu" class="flex flex-col items-end justify-center hidden w-6 h-6 ml-4 -translate-x-1 cursor-pointer sm:hidden"> <svg class="w-6 h-6 text-neutral-600 dark:text-neutral-200" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg> </div> <div id="menu" class="fixed top-[75px] ease-out duration-300 sm:top-0 w-full left-0 sm:py-0 pt-7 pb-4 dm:mx-0 left-0 z-40 flex-col items-end justify-start hidden w-full h-auto text-sm sm:text-base sm:h-auto sm:relative sm:flex-row sm:flex sm:text-sm sm:w-auto sm:pr-0 sm:pt-0"> <div class="absolute inset-0 top-0 right-0 block w-full h-full px-3 sm:hidden"> <div class="relative w-full h-full bg-white border border-dashed border-neutral-300 dark:border-neutral-700 backdrop-blur-sm rounded-xl dark:bg-neutral-950"></div> </div> <a href="/" class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"> Home </a><a href="/posts" class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"> Posts </a><a href="/projects" class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"> Projects </a><a href="/about" class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"> About </a> </div> </nav> </div> </header>

<div class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0">
  <div class="relative flex flex-col items-start w-full">

    <AnimatedLogo logo="react" class="absolute -top-10 -left-10 md:-top-25 md:-left-50 w-32 h-32 md:w-48 md:h-48 z-0 opacity-20 dark:opacity-30 pointer-events-none" />
    
    <AnimatedLogo logo="nestjs" class="absolute -bottom-10 -right-5 md:-bottom-10 md:-right-20 w-32 h-32 md:w-48 md:h-48 z-0 opacity-20 dark:opacity-30 pointer-events-none" />
    

    <div class="relative z-10 w-full md:text-center text-left">
      <h1 class="mb-5 text-4xl font-bold leading-tight md:text-5xl lg:text-7xl dark:text-white">
        Hello, I'm Mohammad Hossam.
      </h1> 
      <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
        I'm a full-stack developer. <br class="hidden lg:block">I focus on building great web experiences.
      </p> 
      <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200 md:flex md:justify-center">
        I can help you out with:
      </p> 
      <ul class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400 md:flex md:flex-col md:items-center"> 
        <li>Vue.js Development</li> 
        <li>React.js Development</li> 
        <li>Node.js Development</li> 
        <li>Website Design</li> 
        <li>and more...</li> 
      </ul> 
      <a href="https://x.com/mohammaddevelop" class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-neutral-900 dark:bg-white dark:text-neutral-900 text-neutral-100 hover:border-neutral-700 border-neutral-900 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900"> Follow me on 𝕏 </a> 
    </div>
  </div> 
</div>

<script>
  // Simple script to perfectly randomize the JS logo placement upon page load!
  document.addEventListener("DOMContentLoaded", () => {
    const jsLogo = document.getElementById("random-js-logo");
    if (jsLogo) {
      // Place it randomly in the middle/upper-right sector
      const randomTop = Math.floor(Math.random() * 40) + 5; // 5% to 45%
      const randomRight = Math.floor(Math.random() * 50) + 10; // 10% to 60%
      jsLogo.style.top = `${randomTop}%`;
      jsLogo.style.right = `${randomRight}%`;
    }
  });
</script>

<section class="max-w-4xl mx-auto px-7 lg:px-0 mt-20"> 
  <h2 class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100">
    My Skills
  </h2> 
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Here are some technologies I work with.
  </p> 
  <div class="flex flex-wrap gap-4 mt-7"> 
    {skills.map((s) => ( 
      <div class="relative flex items-center gap-3 p-4 duration-300 ease-out group rounded-2xl border border-dashed border-neutral-300 dark:border-neutral-600 hover:bg-white dark:hover:bg-neutral-950"> 
        <img src={s.image} alt={s.name} class="w-8 h-8" /> 
        <span class="text-sm font-medium text-neutral-700 dark:text-neutral-300">{s.name}</span> 
      </div> 
    ))} 
  </div> 
</section>

<section class="max-w-4xl mx-auto px-7 lg:px-0 mt-20"> 
  <h2 class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100">
    My Projects
  </h2> 
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Here are some of my recent projects. I'm always working on something new, so check back often!
  </p> 
  <div class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7">
    {projects.map((p) => (
      <>
        {p.liveUrl ? (
          <a href={p.liveUrl} target="_blank" class="relative flex flex-col items-stretch duration-300 ease-out p-7 sm:p-3 group h-100 rounded-2xl">
            <span class="absolute inset-0 z-20 block w-full h-full duration-300 ease-out bg-transparent border border-transparent border-dashed group-hover:-translate-x-1 group-hover:-translate-y-1 group-hover:border group-hover:border-neutral-300 dark:group-hover:border-neutral-600 group-hover:border-dashed rounded-2xl group-hover:bg-white dark:group-hover:bg-neutral-950"></span>
            <span class="absolute inset-0 z-10 block w-full h-full duration-300 ease-out border border-dashed rounded-2xl border-neutral-300 dark:border-neutral-600 group-hover:translate-x-1 group-hover:translate-y-1"></span>
            <span class="relative z-30 block duration-300 ease-out group-hover:-translate-x-1 group-hover:-translate-y-1">
              <span class="block w-full">
                <img src={p.thumbnail} class="w-full h-auto rounded-lg aspect-[16/9] object-cover" alt={p.name} />
              </span>
              <span class="block w-full px-1 mt-5 mb-1 sm:mt-3">
                <span class="flex items-center mb-0 text-base font-semibold tracking-tight text-neutral-900 dark:text-neutral-100">
                  <span>{p.name}</span>
                  <svg class="group-hover:translate-x-0 group-hover:translate-y-0 -rotate-45 translate-y-1 -translate-x-1 w-2.5 h-2.5 stroke-current ml-1 transition-all ease-in-out duration-200 transform" viewBox="0 0 13 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g id="svg" transform="translate(0.666667, 2.333333)" stroke="currentColor" stroke-width="2.4"><g><polyline class="transition-all duration-200 ease-out opacity-0 delay-0 group-hover:opacity-100" points="5.33333333 0 10.8333333 5.5 5.33333333 11"></polyline><line class="transition-all duration-200 ease-out transform -translate-x-1 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:ml-0" x1="10.8333333" y1="5.5" x2="0.833333333" y2="5.16666667"></line></g></g></g></svg>
                </span>
                <span class="text-sm text-neutral-600 dark:text-neutral-400 block truncate">{p.description}</span>
              </span>
            </span>
          </a>
        ) : (
          <div class="relative flex flex-col items-stretch duration-300 ease-out p-7 sm:p-3 group h-100 rounded-2xl">
            <span class="absolute inset-0 z-20 block w-full h-full duration-300 ease-out bg-transparent border border-transparent border-dashed group-hover:-translate-x-1 group-hover:-translate-y-1 group-hover:border group-hover:border-neutral-300 dark:group-hover:border-neutral-600 group-hover:border-dashed rounded-2xl group-hover:bg-white dark:group-hover:bg-neutral-950"></span>
            <span class="absolute inset-0 z-10 block w-full h-full duration-300 ease-out border border-dashed rounded-2xl border-neutral-300 dark:border-neutral-600 group-hover:translate-x-1 group-hover:translate-y-1"></span>
            <span class="relative z-30 block duration-300 ease-out group-hover:-translate-x-1 group-hover:-translate-y-1">
              <span class="block w-full">
                <img src={p.thumbnail} class="w-full h-auto rounded-lg aspect-[16/9] object-cover" alt={p.name} />
              </span>
              <span class="block w-full px-1 mt-5 mb-1 sm:mt-3">
                <span class="flex items-center mb-0 text-base font-semibold tracking-tight text-neutral-900 dark:text-neutral-100">
                  <span>{p.name}</span>
                </span>
                <span class="text-sm text-neutral-600 dark:text-neutral-400 block truncate">{p.description}</span>
              </span>
            </span>
          </div>
        )}
      </>
    ))}
  </div> 
</section>

<div class="relative my-32"> 
  <div class="relative w-full pl-5 overflow-x-hidden md:pl-0"> 
    <div class="absolute w-full h-px bg-gradient-to-r from-transparent to-white md:from-white dark:from-transparent dark:to-neutral-950 md:dark:from-neutral-950 md:via-transparent md:dark:via-transparent md:to-white md:dark:to-neutral-950"></div> 
    <div class="w-full h-px border-t border-dashed border-neutral-300 dark:border-neutral-600"></div> 
  </div> 
  <div class="absolute flex items-center justify-center w-auto h-auto px-3 py-1.5 uppercase tracking-widest space-x-1 text-[0.6rem] md:-translate-x-1/2 -translate-y-1/2 border rounded-full bg-white dark:bg-neutral-900 text-neutral-400 left-0 md:ml-0 ml-5 md:left-1/2 border-neutral-100 dark:border-neutral-800 shadow-sm"> 
    <p class="leading-none">Check out my projects</p> 
    <div class="flex items-center justify-center w-5 h-5 translate-x-1 border rounded-full border-neutral-100 dark:border-neutral-800"> 
      <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75"></path></svg> 
    </div> 
  </div> 
</div>

<section class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800"> 
  <div class="container flex flex-col items-center py-8 mx-auto px-7 max-w-7xl sm:flex-row">
    <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
      {socialLinks.map((s) => (
        <a href={s.url} target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white">
          <span class="sr-only">{s.name}</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d={s.icon}></path></svg>
        </a>
      ))}
    </span> 
  </div> 
</section>

</Layout>